// Specific CSS for your home-page
.homepage-background{
  background-image: asset-url("freedom.png");
  width: 100%;
  background-repeat: no-repeat;
  opacity:0.9;
  height: 105vh;
  padding-top: 100px;
  // width: 100vh;
}

.info-background {
  background-color:#00838F;
  // border-radius: 0 0 240px 50%/60px;
  // border-radius: 240px 50%/60px 0 0;
  border-radius: 50%/100px 100px 50px 50px;
  // transform: rotateX(360deg);
  height: 100vh;
  margin: 1em;
}

.icons-banner {
  margin-top: 115px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr; // this makes each column have same width
  justify-content: space-between;
  gap: 20px;
  align-items: start;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  justify-content: center;
  aspect-ratio: 1;
  transition: border-radius ease-out 0.4s;
  position: relative;
  overflow: hidden;

  .freedom-info-card-p {
    position: absolute;
    transform: translateY(500px);
    transition: transform ease-out 0.4s;
  }
}

.always-visible {
  transition: transform ease-out 0.4s;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.icons:hover {
  border-radius: 0;
  
  .always-visible {
    transform: translateY(-80px);
  }

  .freedom-info-card-p {
    // position: relative;
    transform: translateY(0px);
  }
}

.svg-1 {
  height: 10vh;
  fill: #00838F;
  width: 10vh;
}

.svg-2 {
  height: 10vh;
  width: 10vh;
  fill: #00838F;
}

.svg-3 {
  height: 10vh;
  width: 10vh;
  fill: #00838F;
}

// .banner{
  // margin-top:350px;
  // margin-left: 600px;
.freedom-home {
  font-size:150px;
  padding-bottom:50px;
}
.wealth-text {
  font-size: 30px;
  padding-bottom:50px;
}
.freedom-home{
  font-style: normal;
  font-weight: 800;
  font-size: 195px;
  line-height: 50%;
}
.wealth-text{
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.7);
}

.explore {
	background: black;
	color: white;
  border-radius: 35px;
	position: relative;
	outline: none;
	border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width:55%;
	z-index: 2;
	transition: .01s .23s ease-out all;
	overflow: hidden;
  display: block;
  font-size: 2em;
  text-decoration: none;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 55%;
		background: #2f8f9a ;
		z-index: -1;
		transition: .3s ease-in all;
	}
	&:after {
		content: '';
		position: absolute;
		left: -5%;
		top: 5%;
		height: 90%;
		width: 5%;
		background: black;
		z-index: -1;
		transition: .4s .02s ease-in all;
	}
	&:hover {
		cursor: pointer;
		color: #2f8f9a;
		&:before {
			left: 100%;
			width: 25%;
		}
		&:after {
			left: 100%;
			width: 70%;
		}
	}
}





// .circles {
//   border-radius: 50%;
//   width: 260px;
//   height: 260px;
//   border: 3px solid rgba(0, 0, 0, 0.7);
//   box-sizing: border-box;
//   line-height: 2.5;
//   padding: 50px;
//   filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
//   text-align: center;
//   opacity: 0.8;
//   display: inline-block;
//   margin: auto 65px;
//   white-space: nowrap;
//   background-color: white;
//   margin-top: 50px;
// }
.freedom-info-card-h1{
  color: rgba(0, 0, 0, 0.7);
  font-size:75px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.freedom-info-card-h3{
  color: rgba(0, 0, 0, 0.7);
  line-height: normal;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.big-freedom-info-card-h3{
  color: rgba(0, 0, 0, 0.7);
  line-height: normal;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  font-family: 'Gilroy', sans-serif;
  // padding-top: 2px;
}

// .freedom-info-card-p {
//   margin: 0.5em;
// }

// .freedom-infos-card-p {}

#help{
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  font-family: 'Gilroy', sans-serif;
  margin-top: 1em;
  // color: rgba(0, 0, 0, 0.7);
  line-height: normal;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  color: white;
}

.freedom-info-card {
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // width: 50%;
  align-items: center;
  // margin-top: 100px;
  // padding-top: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // margin: 0px;
  // border-radius: 50%/100px 100px 25px 25px;
  // height: 55vh;
  // box-shadow: 20px 20px rgba(0,0,0,.15);
  // transition: all .4s ease;
}

.big-freedom-info-card {
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  align-items: center;
  // padding-top: 10px;
  margin-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%/100px 100px 25px 25px;
  height: 65vh;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}

// .freedom-info-card:hover{
//   border-radius: 50%/100px 100px 50px 50px;
//   box-shadow: 8px 8px rgba(0,0,0,.25);
// }

.big-freedom-info-card:hover {
  border-radius: 50px 50px 50px 50px;
  box-shadow: 8px 8px rgba(0,0,0,.25);
}

.home-h1 {
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 50px;
}
