// Specific CSS for your home-page
#homepage-background{
  background-image: url(homepageimage.png);
  background-size: cover;
  height: calc(100vh);
  background-repeat: no-repeat;
  // width: 100vh;
}
.banner{
  margin-top:350px;
  margin-left: 600px;
  h1{
    font-size:150px;
    padding-bottom:20px;
  }
  h2 {
    font-size: 50px;
    padding-bottom:20px;
  }
}
h1{
  font-style: normal;
  font-weight: 800;
  font-size: 102px;
  line-height: 120px;
}
h2{
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.7);
}
button {
  background-color: #00838F;
  color: white;
  border-radius: 5px;
  width: 186px;
  height:100px;
  font-size: 20px;
  font-weight:bolder;
}
.circle{
border-radius: 50%;
width: 260px;
height: 260px;
border: 3px solid rgba(0, 0, 0, 0.7);
box-sizing: border-box;
line-height: 2.5;
padding: 50px;
filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
text-align: center;
opacity: 0.8;
display: inline-block;
margin: auto 65px;

  h1{
    color: rgba(0, 0, 0, 0.7);
    font-size:75px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  }
  p{
    color: rgba(0, 0, 0, 0.7);
    line-height: normal;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  }
}
#help{
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
}

#circlesall{
  white-space: nowrap;
  margin-top:710px;
  margin-left: 750px;
}
