// Specific CSS for your home-page
.homepage-background{
  background-image: asset-url("homepageimage.png");
  object-fit: cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  padding-top: 100px;
  // width: 100vh;
}
// .banner{
  // margin-top:350px;
  // margin-left: 600px;
.freedom-home {
  font-size:150px;
  padding-bottom:20px;
}
.wealth-text {
  font-size: 50px;
  padding-bottom:20px;
}
.freedom-home{
  font-style: normal;
  font-weight: 800;
  font-size: 102px;
  line-height: 100%;
}
.wealth-text{
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.7);
}
.start-button {
  background-color: #00838F;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight:bolder;
  padding: 0.75em;
}

.circles {
  border-radius: 50%;
  width: 260px;
  height: 260px;
  border: 3px solid rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  line-height: 2.5;
  padding: 50px;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
  text-align: center;
  opacity: 0.8;
  display: inline-block;
  margin: auto 65px;
  white-space: nowrap;
}
.circle-h1{
  color: rgba(0, 0, 0, 0.7);
  font-size:75px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}
.circle-p{
  color: rgba(0, 0, 0, 0.7);
  line-height: normal;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

#help{
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-top: 1em;
}
