.transaction {
  background-image:url(form.png) ;
  background-size: cover;
  min-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}
.title {
  left: 50%;
  margin-right: -50%;
}

.transaction_container{
  position: fixed; /* or absolute */
  top: 30%;
  left: 25%;
  background-color: #C9C9C9;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  box-sizing: content-box;
  padding: 75px;
  width: fit-content;
  block-size: fit-content;
  box-shadow: 0 0 10px #000000;
}
.transaction-header{
  margin-left: 150px;
}
.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

.btn-form {
  margin:auto;
  font-weight: bold;
  display: flex;
  text-align: center;
  color: white;
  border-radius: 8px;
  background: #00838F;
}
