<div class="ticker-wrap" data-controller="news">
<div class="ticker">
  <div class="ticker__item">Bitcoin drops below $40,000, almost wiping out gains from Biden's crypto executive order</div>
  <div class="ticker__item">Biden’s new executive order aims to federally regulate cryptocurrency</div>
  <div class="ticker__item">Minutes after Russia invaded Ukraine, these crypto ‘safe havens’ tanked.</div>
  <div class="ticker__item">Oil down, Bitcoin and Dow up in day of relief for beleaguered investor. </div>
  <div class="ticker__item">Fundraising platform raises $2m of Tether for Ukrainians</div>
</div>
</div>
