<div class="ticker-wrap" data-controller="news">
<div class="ticker">
  <div class="ticker__item">US Inflation Skyrockets, 64% of Americans Live Paycheck to Paycheck, S&P 500 Chart Shows Death Cross Imminent</div>
  <div class="ticker__item">Binance Suspends Transactions With Russian Mastercard and Visa Cards</div>
  <div class="ticker__item">Wall Street closes lower as inflation hits 40-year high, inviting aggressive Fed tightening</div>
  <div class="ticker__item">Oil down, Bitcoin and Dow up in day of relief for beleaguered investor. </div>
  <div class="ticker__item">Fundraising platform raises $20M of Tether for Ukrainians</div>
</div>
</div>
