<div class="ticker-wrap">
<div class="ticker">
  <div class="ticker__item">Fundraising platform raises $2m of Tether for Ukrainians</div>
  <div class="ticker__item">Europe’s crypto regulations moves one step closer to vote – removes proof of work ban from proposal</div>
  <div class="ticker__item">The European Parliament submitted a policy document to regulate crypto on March 7.</div>
  <div class="ticker__item">The EU is seeking to apply existing money laundering regulations to crypto transactions as well. </div>
    <div class="ticker__item">Fundraising platform raises $2m of Tether for Ukrainians</div>
      <div class="ticker__item">Bitcoin was trading at $38,447.98, up by 0.87 per cent. The second largest cryptocurrency by market capitalization, Ethereum was up by 0.89 per cent at $2,543.66.</div>
        <div class="ticker__item">Steve Wozniak calls Bitcoin ‘pure-gold mathematics’ and the reason shows why crypto could be here to stay</div>
          <div class="ticker__item">Cryptocurrency Prices Today: Bitcoin rises marginally as ethereum, tether decline</div>
            <div class="ticker__item">Experts weigh in on new crypto regulations in South Africa
Updated crypto regulations in South Africa could boost partnerships but potentially marginalize those who need it most, local experts warn.</div>
</div>
</div>
