<!DOCTYPE html>
<!-- Created By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
<div class="helppage">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Accordion Menu | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<div class="tophelp">
<div class ="faq-title"> <p> Frequently Asked Questions </p> </div>
<div class ="faqdescription"> <p> Discovering Bitcoin is the start of a journey. Let us join you as you embark into a new world of investment.<p> </div></div>
  <div class="wrapper">
    <!-- Accordion Heading One -->
    <div class="parent-tab">
      <input type="radio" name="tab" id="tab-7" checked>
      <label for="tab-7">
        <span>What are the requirements to create an Freedom account?</span>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </label>
      <div class="content">
        <p>To create an account Amber requires your: Full legal name,
Date of birth,
Email address,
Cell phone number,
Government ID,
Bank Account,
Social Security Number.

We are required by the federal law to collect these details. Your SSN and ID are encrypted and securely transmitted for KYC verification and never stored on our servers.</p>
      </div>
    </div>
        <div class="parent-tab">
      <input type="radio" name="tab" id="tab-8" checked>
      <label for="tab-8">
        <span>Where is Freedom available?</span>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </label>
      <div class="content">
        <p>At the moment Freedom is available in Spain, France, Australia and USA.

The following states are not supported currently:

Connecticut
Hawaii
New York
New Hampshire
Texas
Vermont
Virginia
Don’t hesitate to let us know on Twitter or Facebook what other countries you would like to see Amber be made available in..</p>
      </div>
    </div>
        <div class="parent-tab">
      <input type="radio" name="tab" id="tab-9" checked>
      <label for="tab-9">
        <span>What is the minimum age for creating an account?</span>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </label>
      <div class="content">
        <p>You need to be at least 18 years old to join and create an account.

</p>
      </div>
    </div>
        <div class="parent-tab">
      <input type="radio" name="tab" id="tab-10" checked>
      <label for="tab-10">
        <span>What are Freedom's fees?</span>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </label>
      <div class="content">
        <p>Exchange Fees:

Exchange fees are linked to your membership tier.
Freedom Basic members: 0.99% of Bitcoin purchases or sales.
Freedom Black members: 0% of Bitcoin purchases or sales.

Withdrawal Fees:
USD Withdrawals are free.

Bitcoin withdrawals incur a flat 0.0003BTC (30,000 sats) transaction fee.

</p>
      </div>
    </div>
    <div class="parent-tab">
      <input type="radio" name="tab" id="tab-1" checked>
      <label for="tab-1">
        <span>Can I process BTC send immediately after my Bitcoin purchase has settled?</span>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </label>
      <div class="content">
        <p>Once the transactions of each payment method have surpassed the dispute window, BTC sends will be processed immediately, from that day forward.

Currently there is no way to send Bitcoin within the dispute window, so if you want to process a BTC send immediately after a purchase.</p>
      </div>
    </div>
    <!-- Accordion Heading Two -->
    <div class="parent-tab">
      <input type="radio" name="tab" id="tab-2">
      <label for="tab-2">
        <span>What are the waiting periods for withdrawing Bitcoin?</span>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </label>
      <div class="content">
        <p>Some payment methods used by Amber have long dispute windows. To ensure the platform is protected from fraud we have a system that restricts Bitcoin withdrawals for different periods depending on the funding method.</p>
      </div>
    </div>
    <!-- Accordion Heading Three -->
    <div class="parent-tab tab-3">
      <input type="radio" name="tab" id="tab-3">
      <label for="tab-3" class="tab-3">
        <span>How does my wealth accumulate?</span>
        <div class="icon"><i class="fas fa-plus"></i></div>
      </label>
      <div class="content">

  </div>
</body>
  </div>
</html>
