<p id="back-to-home"> Back to Home </p>

<div id="faq">
  <h1>FAQ</h1>
  <h3>What platforms are supported? </h3>
  <p> “What does it mean when a man falls in love with a radiant face across the room? It may mean that he has some soul work to do. His soul is the issue. Instead of pursuing the woman and trying to get her alone, away from her husband, he needs to go alone himself, perhaps to a mountain cabin, for three months, write poetry, canoe down a river, and dream. That would save some women a lot of trouble.” </p>
  <h3> What's our pricing? </h3>
  <p> “In ordinary life, a mentor can guide a young man through various disciplines, helping to bring him out of boyhood into manhood; and that in turn is associated not with body building, but with building and emotional body capable of containing more than one sort of ecstasy.” </p>
  <h3> How does my wealth accumulate? </h3>
  <p>“The Wild Man doesn’t come to full life through being “natural,” going with the flow, smoking weed, reading nothing, and being generally groovy. Ecstasy amounts to living within reach of the high voltage of the golden gifts. The ecstasy comes after thought, after discipline imposed on ourselves, after grief.”</p>
  <h3> How does round up work? </h3>
  <p>“When a man says to a woman, "You are my anima," she should quickly scream and run out of the room. The word anima has neither the greatness of the Woman with Golden Hair nor the greatness of an ordinary woman, who wants to be loved as a woman.” </p>
  <h3> Link to a compound interest calculator</h3>
  <p> “Zeus energy, which encompasses intelligence, robust health, compassionate decisiveness, good will, generous leadership. Zeus energy is male authority accepted for the sake of the community.”</p>
  <h3> What is dollar cost averaging? </h3>
  <p>“Something in the adolescent male wants risk, courts danger, goes out to the edge – even to the edge of death.”</p>
</div>


<div>
<p> Where can I learn <strong> more? </strong> </p> <br>
<p> We post regular updates on our Twitter account: <strong> @freedomapp </strong> </p>
</div>
