<body id="homepage-background">

  <div class="banner">
    <h1>Freedom</h1>
    <h2> Build Wealth One Transaction at a Time </h2>
    <button >Get started</button>
    </div>

  <p id="help"> Help ... </p>

  <div id="circlesall">
    <div class= "circle" >
      <h1> 1 </h1>
      <p> Make a transaction </p>
    </div>

    <div class= "circle">
      <h1> 2 </h1>
      <p> Invest the Rounding </p>
    </div>

    <div class = "circle">
      <h1> 3 </h1>
      <p> Build Wealth </p>
    </div>
  </div>

</body>
