<div class="homepage-background">
  <div class="container">
    <div class="row justify-content-flex-end">
      <div class="col-12 col-lg-6">
        <div class="freedom-card mt-3">
          <h1 class="freedom-home">Freedom</h1>
          <h2 class="wealth-text"> Build Wealth One Transaction at a Time. </h2>
          <%= link_to new_user_registration_path, class:"explore" do %>
          Get Started
          <% end %>
        </div>
      </div>
    </div>
    <div class="icons-banner">

      <div class="">
        <div class="icons">
          <div class="always-visible">
            <%= render "svgs/card_icon" %>
              <h3 class="freedom-info-card-h3"> <strong>Make a Transaction</strong></h3>
          </div>
            <div class="freedom-info-card">
              <p class="freedom-info-card-p"> Bought something at the store or went to a restaurant with friends? You can add the transaction
        cost to your Freedom account, and the cost will be rounded up to the nearest dollar.</p>
            </div>
        </div>
      </div>
      <div class="">
        <div class="icons">
          <div class="always-visible">
            <%= render "svgs/dollar_icon" %>
            <h3 class="freedom-info-card-h3"> <strong>Invest Round-Ups</strong></h3>
          </div>
          <div class="freedom-info-card">
              <p class="freedom-info-card-p"> The roundups will be automatically invested in Bitcoin!</p>
          </div>
        </div>
      </div>
      <div class="">
        <div class="icons">
          <div class="always-visible">
            <%= render "svgs/hand_icon" %>
            <h3 class="freedom-info-card-h3"> <strong>Build Wealth</strong></h3>

          </div>
          <div class="freedom-info-card">
              <p class="freedom-info-card-p"> With your roundup balance attached to Bitcoin, you will kickstart your journey towards
        building wealth by combatting inflation. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
