<div class="homepage-background">
  <div class="container">
    <div class="row justify-content-flex-end">
      <div class="col-10">
        <div class="freedom-card mt-4">
          <h1 class="freedom-home">Freedom</h1>
          <h2 class="wealth-text"> Build Wealth One Transaction at a Time </h2>
          <button class="start-button">Get started</button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <div class= "circles" >
          <h1 class="circle-h1"> 1 </h1>
          <p class="circle-p"> Make a Transaction </p>
        </div>
      </div>
      <div class="col-4">
        <div class= "circles" >
          <h1 class="circle-h1"> 2 </h1>
          <p class="circle-p"> Invest Round-Ups </p>
        </div>
      </div>
      <div class="col-4">
        <div class= "circles" >
          <h1 class="circle-h1"> 3 </h1>
          <p class="circle-p"> Build Wealth </p>
        </div>
      </div>
    </div>
    <p id="help"> Help ... </p>
  </div>
</div>
