<div class="homepage-background">
  <div class="container">
    <div class="row justify-content-flex-end">
      <div class="col-10">
        <div class="freedom-card mt-2">
          <h1 class="freedom-home">Freedom</h1>
          <h2 class="wealth-text"> Build Wealth One Transaction at a Time </h2>
          <%= link_to "Get Started", new_user_registration_path, class:"start-button" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="info-background">
  <div class="container">
    <div class="row justify-content-center">
      <h1 class="home-h1"> How It Works...</h1>
      <div class="col-4">
        <div class= "freedom-info-card" >
          <%# <h1 class="freedom-info-card-h1"> 1 </h1> %>
          <h3 class="freedom-info-card-h3"> <strong>Make a Transaction </strong></h3>
            <p class="freedom-info-card-p"> Bought something at the store? With Freedom, you can add your transaction
            cost to your Freedom account, we will then round it up to the nearest dollar, and subract the cost of the transaction
            from that rounded-up value. The reminder is a "round-up" ! </p>
        </div>
      </div>
      <div class="col-4">
        <div class= "big-freedom-info-card" >
          <%# <h1 class="freedom-info-card-h1"> 2 </h1> %>
          <h3 class="big-freedom-info-card-h3"> <strong>Invest Round-Ups</strong></h3>
            <p class="freedom-info-card-p"> What can you do with your round-ups? Invest in Bitcoin! By having an
            account with Freedom, your round-ups will automatically be invested into Bitcoin.  </p>
        </div>
      </div>
      <div class="col-4">
        <div class= "freedom-info-card" >
          <%# <h1 class="freedom-info-card-h1"> 3 </h1> %>
          <h3 class="freedom-info-card-h3"> <strong>Build Wealth</strong></h3>
            <p class="freedom-info-card-p"> At Freedom, we provide anyone with a bank account the opportunity
            to invest in Bitcoin, regardless of your country of origin. Kickstart your journey towards
            building wealth with Freedom, the app for everyone.  </p>
        </div>
      </div>
    </div>
    <p id="help"> Questions? </p>
  </div>
</div>
    <%# <p id="help"> Help ... </p> %>

