.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-transparent {
  background: transparent;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.8);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-top: 5px;
  margin-right:30px;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
  height:100px;
  margin-top:10px;
  background: url(image.png);
  border: 4px solid rgba(0, 0, 0, 0.41);
  box-sizing: border-box;
  backdrop-filter: blur(4px);
  border-radius: 50%;
  margin-left: 35px;
}
