.background-art {
  background-image: asset-url("triangle.png");
  min-height: 25vh;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 25vw;
  z-index: -1;
  object-fit: cover;
}

.dashboard-card {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.40);
}

// .container {
//   display: flex;
//   justify-content: space-around;

#balance-row {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}



.text-graph {
  align-self: flex-start;
}

.text-wallet {
  align-self: flex-start;
}

.balance-circle {
  width: 100px;
  height: 100px;
  @media(min-width: 860px) {
    width: 200px;
    height: 200px;
  }
  border-radius: 50%;
  // margin-left: 50px;
  // margin-top: 50px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
  margin-left: 0.9rem;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.holdings-info {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.holding-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-up {
  color:#00838F;
}

.balance-circles {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  // height: 100%;
}

.text-circle {
  // position: absolute;
  // top: 15px;
}

.dashboard-card-below {
  padding: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.40);
}

.flex-dashboard{
  display: flex;
  justify-content: space-evenly;
}
