.background-art {
  background-image: asset-url("triangle.png");
  min-height: 25vh;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 25vw;
  z-index: -1;
  object-fit: cover;
}

.dashboard-card {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.40);
}

// .container {
//   display: flex;
//   justify-content: space-around;

#balance-row {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}



.text-graph {
  align-self: flex-start;
}

.text-wallet {
  align-self: flex-start;
}

.balance-circle {
  min-width: 200px;
  min-height: 200px;
  border-radius: 50%;
  // margin-left: 50px;
  // margin-top: 50px;
  // border: 2px solid #04838F;
  // border-width: medium;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: column ;
  justify-content: space-around;
  align-items: center;
  margin-right: 1rem;
  margin-left: 0.9rem;
  padding-top: 40px;
  padding-bottom: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.74);
  opacity: 0.8;
  color: black;
  transition: transform ease 0.2s;
}

.balance-circle:hover{
  transform: scale(1.1);
}

.holdings-info {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
}

.holding-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-up {
  color: #04838F;
}

.price-up2 {
  color: #04838F
}

.balance-circles {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  // height: 100%;
}

.text-circle {
  font-size: 20px;
  text-decoration: none;
  opacity: 0.8;
}

.dashboard-card-below {
  padding: 20px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.40);
}

.flex-dashboard{
  display: flex;
  justify-content: space-evenly;
}

.popover-box {
  // display: flex;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.40);
  border-radius: 10px;
  bottom: 12em;
  left: 70%;
  // transform: translate(-50%);
  width: 8em;
  padding: 0.2em;
}

.popover-box2 {
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.40);
  border-radius: 10px;
  bottom: 12em;
  right: 67%;
  width: 8em;
  padding: 0.2em;
}

.relative {
  position: relative;
  text-decoration: none;
  color: black;
}

.pop-text-box {
  background-color: green;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.40);
}

.shadow {
  height: 4px;
  width: 150px;
  box-shadow: 0 2rem 0.5rem gray !important;
}

.popover-p {
  color: black;
}

.popover-p2 {
  color: black;
}
.form-inputs {
  text-align: left;
}
.holdings-info-below{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  display: flex;
  border-radius: 10px;
}
.form-inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.form-actions{
text-align: center;
}
.hide{
  visibility:hidden;
}
#results{
  color:#04838F;
  font-size: 27px;
  font-weight:bolder;
  background-color: white;
  width:40%;
  left: 60%;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
  display: flex;
}
