.graph{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.heading-graph{
  text-align: center;
}
.info-character{
  text-align: center;
}
.info-page{
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
.info-item{
text-align: left;
}
